<li class="item powers draggable expandable-document" data-item-id="{{this.id}}" data-document-uuid="{{this.uuid}}">
    <div class="item-row {{css}} {{this.validationCss}}">
        
        {{> (getModulePath 'actor/actor-sheet-v2-parts/actor-sheet-item-cost-v2.hbs') this }}

        {{> (getModulePath 'actor/actor-sheet-v2-parts/actor-sheet-item-description-v2.hbs') this }}

        <div class="item-column item-char">
            {{#if (ne this.system.XMLID "LIST")}}
                {{this.system.CHARACTERISTIC}}
            {{/if}}
        </div>

        {{> (getModulePath 'actor/actor-sheet-v2-parts/actor-sheet-item-actions-partial-v2.hbs') this }}

    </div>
</li>

{{#if (not this.system.collapse)}}
    {{#each this.childItems }}
        {{> (getModulePath 'actor/actor-sheet-v2-parts/actor-sheet-powers-partial-item-v2.hbs') this }}
    {{/each}}
{{/if}}